:root{
    --div-width: 220px;
    --div-height: 110px;
}
div{
    width: var(--div-width);
    height: var(--div-height);
    background-color: blue;
    border-radius: 20px;
    margin: 20px;

    animation-name: move-square;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

@keyframes move-square {
    0%{
        margin: 20px;
        transform: rotate(0);
    }

    25%{
        margin-left: calc(100vw - var(--div-width) - 20px);
        margin-top: 20px;
        background-color: yellow;
        transform: rotate(180deg);

    }
    50%{
        margin-left: calc(100vw - var(--div-width) - 20px);
        margin-top: calc(100vh - var(--div-height) - 20px);
        background-color: red;
        transform: rotate(360deg);
    }

    75%{
        margin-top: calc(100vh - var(--div-height) - 20px);
        margin-left: 20px;
        background-color: deeppink;
        transform: rotate(180deg);
    }

    100%{
        margin: 20px;
        background-color: sandybrown;
        transform: rotate(360deg);
    }
}