body{
    background-color: cornflowerblue;
}

.circle-2{
    position: absolute;
    width: 400px;
    background-color: gray;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bold;

    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    z-index: 1;

}

.circle-1{
    position: absolute;
    width: 400px;
    background-color: transparent;
    aspect-ratio: 1/1;

    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    border: white 20px solid;
    border-top: red 20px solid;

    transition: transform 1s;
    z-index: 2;
}

.circle-1:hover {
    animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
    from{
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/*div::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 20px solid white;
    border-top: 20px solid red;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
}

div:hover::before {
    transform: rotate(360deg);
}*/
